
<div class="text-center">
    <h3>
        <a href="/Home/Index">Home</a>
        <a href="/Home/Education">Education</a>
        <a href="/Home/Projects">Projects</a>
        <a href="/Home/P_info">Personal Information</a>
        <a href="/Home/Ref">Reference</a>

    </h3>
</div>
<table border="1">
    <tr>
        <td>
            <h3>Education</h3>
        </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td><b>Bachelor of Science (B.Sc in CSE)</b></td>
                    <td>American International University-Bangladesh</td>
                    <td>Passing Year: Present</td>
                    <td>Result: 3.84/4</td>
                </tr>
                <tr>
                    <td><b>Higher Secondary Certificate</b></td>
                    <td>Milestone College</td>
                    <td>Passing Year: 2018</td>
                    <td>Result: 4.17/5</td>
                </tr>
                <tr>
                    <td><b>Secondary School Certificate</b></td>
                    <td>Rani Bilashmoni Govt. Boys' High School</td>
                    <td>Passing Year: 2016</td>
                    <td>Result: 4.22/5</td>
                </tr>
                <tr>
                    <td><b>Professional Outsourcing Training (Graphic Design)</b></td>
                    <td>Learning & Earning Development Project - LEDP</td>
                    <td>Passing Year: 2020</td>
                    <td></td>
                </tr>
            </table>
        </td>
    </tr>

</table>
