@{
    ViewData["Title"] = "Landing Page";
}
<div class="text-center">
    <h3>
        <a href="/Home/Index">Home</a>
        <a href="/Home/Education">Education</a>
        <a href="/Home/Projects">Projects</a>
        <a href="/Home/P_info">Personal Information</a>
        <a href="/Home/Ref">Reference</a>

    </h3>
</div>

<div class="text-center">
    <h5>Name: Pritom Chandra Dey</h5>
    <h5>Id: 21-44407-1</h5>
    <h5>E-mail: designerpritomdey@gmail.com</h5>
    <h5><a href="https://github.com/Pritomkk/ADVANCED-PROGRAMMING-WITH-.NET-B">Github Profile</a></h5>

</div>