
<div class="text-center">
    <h3>
        <a href="/Home/Index">Home</a>
        <a href="/Home/Education">Education</a>
        <a href="/Home/Projects">Projects</a>
        <a href="/Home/P_info">Personal Information</a>
        <a href="/Home/Ref">Reference</a>

    </h3>
</div>
<table>
    <tr>
        <td>
            <h3>Projects</h3>
            <ul>
                <li>
                    web tech:Van-Gogh-digital-art-marketplace
                </li>


            </ul>
            <ul>
                <li>
                    C#:Car rental service
                </li>


            </ul>
            <ul>
                <li>
                    Java:Hospital Management System
                </li>


            </ul>
            <ul>
                <li>
                    Computer Graphics:AquaIgnis two player Game
                </li>


            </ul>
    </tr>
</table>
