<div class="text-center">
    <h3>
        <a href="/Home/Index">Home</a>
        <a href="/Home/Education">Education</a>
        <a href="/Home/Projects">Projects</a>
        <a href="/Home/P_info">Personal Information</a>
        <a href="/Home/Ref">Reference</a>

    </h3>
</div>
<div>
    <h3>References</h3>

    <ol>
        <li>
            <div>
                <p><b>Name:</b> VICTOR STANY ROZARIO</p>
                <p><b>Position:</b> Assistant Professor & Special Assistant [CS], Computer Science</p>
                <p><b>Email:</b> stany@aiub.edu</p>
                <p><b>Phone:</b></p>
            </div>
        </li>

        <li>
            <div>
                <p><b>Name:</b> Md Al-Amin</p>
                <p><b>Position:</b></p>
                <p><b>Email:</b></p>
                <p><b>Phone:</b></p>
            </div>
        </li>

        <li>
            <div>
                <p><b>Name:</b> Dr. DEBAJYOTI KARMAKER</p>
                <p><b>Position:</b></p>
                <p><b>Email:</b></p>
                <p><b>Phone:</b></p>
            </div>
        </li>
    </ol>
</div>
